<div class="divStoryCell" {{action goToStory musclestory}}>
  <img src='{{musclestory.imgurl}}' style='width:200px;'><br/>
  by {{musclestory.author}}<br/>
  {{musclestory.title}}<br/>{{musclestory.storytext}}
</div>
